# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\superLeague\sprint1\SuperLeague-Sprint1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
